.control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .more {
    margin-right: 5px;
    color: #45a4fb;
    cursor: pointer;
    line-height: 32px;
  }
  .searchList {
    width: 480px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
